:root {
    font-size: 18px;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.honk-font {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

#main_hero {
    height: 90vh;
    overflow: hidden;
    text-align: center;
    position: relative;
}
#main_hero #logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}
#main_hero #header_repository_github {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
#main_hero #main_hero_content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    height: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
#main_hero #main_hero_content #main_hero_content_description {
    margin-top: 4rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
}
#main_hero #main_hero_content #main_hero_content_description_footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#main_hero #main_hero_content h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
#main_hero .selected-button-look {
    background: var(--primary);
    outline: 3px solid white;
    border-radius: 0.5rem;
    padding: 0.25rem;
}
#main_hero .button-to-select {
    width: 44px;
    height: 44px;
    border-radius: 0.5rem;
}
#main_hero .selected-button-to-select {
    outline: 3px solid var(--primary-content);
}
.textarea-window {
    border: 2px solid var(--gray-200);
    background: var(--gray-100);
    border-radius: 0.5rem;
}

@media screen and (max-width: 350px) {
    .honk-font {
        font-size: 2rem;
    }
    #main_hero #main_hero_content h1 {
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 400px) {
    #main_hero #header_repository_github b {
        display: none;
    }
    #main_hero #main_hero_content #main_hero_content_description {
        margin-top: 1.25rem;
    }
}
@media screen and (max-width: 600px) {
    .honk-font {
        font-size: 3rem;
    }
    #main_hero #main_hero_content h1 {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}